<div class="nav_zone">
  <hr class="navi_solid">
  <ul id="nav">
    <li><strong>GAMREN</strong></li>
    <li><%= link_to "商品一覧へ戻る", articles_path %></li>
    <li><%= link_to "新しい商品を登録する", new_article_path %></li>
    <li><%= link_to "ログアウト", logout_path, method: :delete %></li>
  </ul>
  <hr class="nav_solid">
</div>
<div class="index">
  <%= form_with model: @article do |form| %>
    <div>
      <h2><label for="article_product_name">商品名</label></h2>
      <% @article.errors.full_messages_for(:product_name).each do |message| %>
        <h3 class="error">・<%= message %>！</h3>
      <% end %>
      <%= form.text_area :product_name %>
    </div>

    <div>
      <h2><label for="article_image">パッケージ画像(変更したい場合はファイルを選択してください)</label></h2>
      <% @article.errors.full_messages_for(:image).each do |message| %>
        <h3 class="error">・画像を選択してください！</h3>
      <% end %>
      <%= form.file_field :image, class: "image" %>
    </div>
      
    <div>
      <h2><label for="article_product_price">レンタル価格</label></h2>
      <% @article.errors.full_messages_for(:product_price).each do |message| %>
        <h3 class="error">・レンタル価格を選択してください！</h3>
      <% end %>
      <%= form.select :product_price,  [["80円（大セール価格）", "80"], ["100円（キャンペーン価格）", "100"], ["150円（通常価格）", "150"]], include_blank: "選択して下さい"  %>
    </div>

    <div>
      <h2><label for="article_product_price">プラットフォーム</label></h2>
      <% @article.errors.full_messages_for(:platform).each do |message| %>
        <h3 class="error">・プラットフォームを選択してください</h3>
      <% end %>
      <%= form.select :platform,  [["SWICH", "SWICH"], ["PlayStation4", "PlayStation4"], ["XBOX", "XBOX"]], include_blank: "選択して下さい"  %>
    </div>
      
    <div>
      <h2><label for="article_product_company">制作会社(架空の会社です)</label></h2>
      <% @article.errors.full_messages_for(:product_company).each do |message| %>
        <h3 class="error">・制作会社を選択してください！</h3>
      <% end %>
      <%= form.select :product_company,[["LYCAN・GAME", "LYCAN・GAME"], ["PIXEL", "PIXEL"], ["フォックスエンターテインメント", "フォックスエンターテインメント"]], include_blank: "選択して下さい" %>
    </div>

    <div>
      <h2><label for="article_product_text">商品詳細</label></h2>
      <% @article.errors.full_messages_for(:product_text).each do |message| %>
        <h3 class="error">・商品詳細を10文字以上で入力してください！</h3>
      <% end %>
      <%= form.text_area :product_text %>
    </div>

    <div>
      <%= form.submit value="登録"%>
    </div>
  <%end%>
</div>
